@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "futura";
    src: url("../../public/fonts/futura/futura\ medium\ bt.ttf");
}

@font-face {
    font-family: "futura-bold";
    src: url("../../public/fonts/futura/Futura\ Heavy\ font.ttf");
}

.diagonal-split-background {
    position: absolute;
    width: 100vw;
    height: 350px;
    clip-path: polygon(0 0, 480% 0, 0 100%);
    z-index: -1;
}

@media (min-width: 640px) {
    .diagonal-split-background {
        clip-path: polygon(0 0, 200% 0, 0 100%);
    }
}

@media (min-width: 768px) {
    .diagonal-split-background {
        clip-path: polygon(0 0, 200% 0, 0 100%);
    }
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
}
